
@{
    ViewBag.Title = "SoftwareKit";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}

<div class="container">
    <div class="fs-3 my-3 text-center">Software <b class="txt-mycolor2">Kit</b></div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card p-2 border-0 shadow-lg">
                <div class="row">
                    <div class="col-3">
                        <img src="~/Content/images/Screenshot 2025-04-26 222631.png" class="img-fluid w-100 rounded-2" alt="...." style="max-height: 180px;"/>
                    </div>
                    <div class="col-9">
                        <p class="fs-3 p-0">Visual Studio || Community Setup || 2023 Version</p>
                        <p>You can add more position values by adding entries to the $position-values Sass map variable</p>
                        <a class="btn bg-mycolor2"><i class="fa-solid fa-download"></i> Dounload</a> <b>Added On:</b> 22-Sep-2024
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>


